/* Theme */

main {
	background: #2C6A45;
	color: #FED200;
}

.icons-social a {
	color: #153d25;
}

.icons-social a svg path{

	fill: #153d25;
}

.icons-social a:hover {
	color: #FED200;
}

