/* Theme */

main {
	background: #2C6A45;
	color: #FED200;
}

.icons-social a {
	color: #153d25;
}

.icons-social a svg path{
<<<<<<< HEAD
	fill: #FED200;
}
=======
	fill: #153d25;
}
>>>>>>> 167b0e0 (updated color)
